@page "/counter"

<PageTitle>Counter</PageTitle>

@inject HttpClient client


<PageTitle>Weather forecast</PageTitle>

@using Benzin.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (data == null)
{
    <p>Loading...</p>
}
else if (data.Count == 0)
{
    <p>No data available.</p>
}
else
{
    <ApexChart TItem="PriceDate"
               Title="Order Net Value"
               XAxisType="XAxisType.Datetime">


        <ApexPointSeries TItem="PriceDate"
                         Items="data"
                         Name="Gross Value"
                         SeriesType="SeriesType.Line"
                         XValue="@(e => e.Date)"
                         YValue="@(e => e.Price)" />


    </ApexChart>
    <table class="table">
        <thead>
            <tr>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.Price</td>
                    <td>@item.Date</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    private List<PriceDate>? data;


    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        data = await client.GetFromJsonAsync<List<PriceDate>>("https://magsapi.onrender.com/api/miles95");

    }
    public class PriceDate
    {
        public decimal Price { get; set; }
        public DateTime Date { get; set; }
    }

}
